.app {
  background-color: #efe2e2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.app-header {
  background-color: #85b9e4;
  color: #1c1e21;
  margin-bottom: 30px;
  border-radius: 8px;
  text-align: center;
  width: 90%;
}

.app-header h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
}

.album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  width: 90%;
}
